/* Rectangular tabs without unnecessary margins */
.tab-background {
	--tab-border-radius: 0;
	--tab-block-margin: 0;
}

/* Remove excessive menu item padding, make menu items clickable up to margin */
.subviewbutton:not(.toolbaritem-combined-buttons) {
	--arrowpanel-menuitem-margin: 0;
	--arrowpanel-menuitem-padding: 0 16px;
}
